
<footer id="social" data-aos="fade-up" data-aos-duration="500">	 			
      	
    <a href="https://www.instagram.com/kaih_ke_lunga/" target="_blank"><span class="fa-brands fa-instagram social"></span></a>

    <a href="https://twitter.com/kaih_ke_lunga" target="_blank"><span class="fa-brands fa-twitter social"></span></a>
    
    <a href ="https://www.linkedin.com/in/vishal-jha-25a01421a/" target="_blank"><span class="fa-brands fa-linkedin social"></span></a>
     
    <a href="mailto:vishalkumarkaushik.dev@gmail.com"><span class="fa-solid fa-envelope social"></span> </a>
      
<p>© Copyright Vishal Jha</p>
</footer>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>