<%- include("partials/header") -%>
<div class="home-container">
    <div class="about-container" data-aos="fade-up" data-aos-offset="200">
        <div class="content">
            <h1>Hii, my name is Vishal</h1>
            <p data-aos="fade-left">I am a passionate and dedicated web developer with expertise in HTML, CSS, JavaScript, and Node.js. I am actively seeking an internship opportunity to enhance my skills and contribute to real-world projects. With a deep understanding of front-end and back-end technologies, I am well-equipped to tackle the challenges of modern web development.</p>
            <button class="button"><a href="https://drive.google.com/uc?export=download&id=1b4k_6KYvC1aN2q2elMeThpzm8Z4lY3TY" download><i class="fa-solid fa-cloud-arrow-down fa-beat"></i> Download Resume</a></button>
        </div>
    </div>

    <img src="images/profile-image.png" class="profile-image" data-aos="fade-up" data-aos-offset="200">
    
 </div>
</section>
<section id="education" data-aos="fade-up" data-aos-offset="200">
    <h1 class="heading-primary">Education <i class="fa-sharp fa-solid fa-school"></i></h1>
    <div class="education-container">
        <div class="education"  data-aos="fade-up" data-aos-offset="200">
                <h3 class="degree">Intermediate<i class="fa-solid fa-building-columns"></i></h3>
                <p class="education-description">
                    I completed my 11th and 12th(boards) from R.N. College, Hajipur. I got total of 63.2% marks in the final board exam.
                </p>
        </div>
    <div class="education" data-aos="fade-up" data-aos-offset="200">
                <h3 class="degree">BCA <i class="fa-solid fa-graduation-cap"></i></h3>
                <div class="education-description">
                    I've Done BCA from R.N. College(Hajipur), Vaishali. I got 77.75% overall. Course was focused on Software applications and computer programming, data structure and mobile/web development. 
                </div>
        </div>
        <div class="education" data-aos="fade-up" data-aos-offset="200">
            <h3 class="degree">MCA<i class="fa-solid fa-graduation-cap"></i></h3>	
        <div class="education-description">
                I'm a pre-final year student at National Institute Of Technology Agartala, enrolled in 3year MCA(2022-25) focusing on software engineering.
            </div>
        </div>

</section>

<section id="skills" data-aos="fade-up-left" data-aos-offset="200" data-aos-duration="500">
    <div class="heading-primary" data-aos="fade-up">Skills <i class="fa-sharp fa-solid fa-gears"></i></div>
    <div class="skill-container">
        <div class="skill" data-aos="fade-left">
            <img src="images/html.png" class="skill-image">
        </div>
        <div class="skill" data-aos="fade-left">
            <img src="images/css.png" class="skill-image">
        </div>
        <div class="skill" data-aos="fade-left">
            <img src="images/javascript1.png" class="skill-image">
        </div>
        <div class="skill" data-aos="fade-right">
            <img src="images/node1.png" class="skill-image">
        </div>
        <!-- <div class="skill">
            <img src="images/react.png" class="skill-image">
        </div> -->
         <div class="skill" data-aos="fade-right">
            <img src="images/git.png" class="skill-image">
        </div> 
        <!-- <div class="skill">
            <img src="images/jquery.jpg" class="skill-image">
        </div> -->
        <!-- <div class="skill">
            <img src="images/mongodb.jpg" class="skill-image">
        </div> -->
        <div class="skill" data-aos="fade-right">
            <img src="images/cpp.png" class="skill-image">
        </div>
    </div>

</section>

<section id="projects"  data-aos="fade-up" data-aos-offset="200" data-aos-duration="500">
    <h1 class="heading-primary">
        Projects <i class="fa-solid fa-diagram-project"></i>
    </h1>

    <div class="project-container"  data-aos="fade-up" data-aos-offset="200">
        <div class="project project1" data-aos="fade-down-left" >
            <img src="images/scriblio.jpg" alt="" class="project-img">
            <div class="project-text">
                <p>Fully responsive frontend design for writing, publishing blogs. And a compatable backend which let user create their account and read/write blogs of their choice.</p>
            </div>
            <button class="project-btn"><a href="https://scriblio.onrender.com/" target="_blank">View project...</a></button>

        </div>
        <div class="project project1" data-aos="fade-down-left" >
            <img src="images/blogr-img.png" alt="" class="project-img">
            <div class="project-text">
                <p>Fully responsive frontend design for writing, publishing blogs. It has attractive-looking curves and prefect color combination.</p>
            </div>
            <button class="project-btn"><a href="https://takemeforward.github.io/blogr/" target="_blank">View project...</a></button>

        </div>


        <div class="project project2" data-aos="fade-down-left">
            <img src="images/dogTinder-img.png" alt="" class="project-img">
            <div class="project-text">
                <p>Front end design for dogs and their corgie where they can meet and find love.</p>
            </div>
            <button class="project-btn"><a href="https://takemeforward.github.io/DogTinder/" target="_blank">View project...</a></button>

        </div>


        <div class="project project3" data-aos="fade-down-right">
            <img src="images/calculator-img.png" alt="" class="project-img">
            <div class="project-text">
                <p>Functioning and responsive calculator to do mathematical calculations</p>
            </div>
            <button class="project-btn"><a href="https://takemeforward.github.io/Calc-V/" target="_blank">View project...</a></button>

        </div>


        <div class="project project4" data-aos="fade-down-right">
            <img src="images/clock-img.png" alt="" class="project-img">
            <div class="project-text">
                <p>Functional analog clock shows current time, having animated hands.</p>
            </div>
            <button class="project-btn"><a href="https://takemeforward.github.io/Clock/" target="_blank">View project...</a></button>

        </div>

        <div class="project project5" data-aos="fade-up">
            <img src="images/guess-number-img.png" alt="" class="project-img">
            <div class="project-text">
                <p>Simple game which gives max 10 change to guess the number.</p>
            </div>
            <button class="project-btn"><a href="https://takemeforward.github.io/GuessGame/" target="_blank">View project...</a></button>

        </div>
        <div class="project project6" data-aos="fade-up">
            <img src="images/login.png" alt="" class="project-img">
            <div class="project-text">
                <p>Beautiful Login/Signup page with robust design</p>
            </div>
            <button class="project-btn"><a href="https://takemeforward.github.io/login/" target="_blank">View project...</a></button>

        </div>
        <div class="project project6" data-aos="fade-up">
            <img src="images/todolist.jpg" alt="" class="project-img">
            <div class="project-text">
                <p>Todolist make your list.</p>
            </div>
            <button class="project-btn"><a href="https://todolist-v2-l6ix.onrender.com/" target="_blank">View project...</a></button>

        </div>


    </div>
</section>
<div class="heading-primary" data-aos="fade-up">Send me your message <i class="fa-regular fa-envelope"></i></div>
<div class="form-container">
    <form action="/" method="post" class="form"><i class="fa-dark fa-paper-plane-top"></i>
    <input type="text" name="name" class="form-control" placeholder="Name">
    <input type="email" name="email" class="form-control" placeholder="email:abc@example.com" required>
    <textarea name="message" id="" class="form-control message" placeholder="write your message here">
        
    </textarea>
    <button type="submit" class="btn btn-primary">Send <i class="fa-solid fa-paper-plane"></i></button>
    
    </form>
</div>

<%- include("partials/footer") -%> 